#!groovy
import hudson.security.csrf.DefaultCrumbIssuer
import jenkins.model.Jenkins

if(!Jenkins.instance.isQuietingDown()) {
    def j = Jenkins.instance
    if(j.getCrumbIssuer() == null) {
        j.setCrumbIssuer(new DefaultCrumbIssuer(true))
        j.save()
        
    }
}
else {
    println "Shutdown mode enabled.  Configure CSRF protection SKIPPED."
}