################################################
# nginx Proxy configuration with SSL
#################################################
upstream keycloak {
  server 127.0.0.1:8080 fail_timeout=0;
}
 
 
server {
  listen 80 ;
  server_name {{keycloak_host_name}};

  access_log  /var/log/nginx/keycloak.access.log;
  error_log   /var/log/nginx/keycloak.error.log;
 
  #ssl_certificate /etc/letsencrypt/live/jenkins.example.com/fullchain.pem;
  #ssl_certificate_key /etc/letsencrypt/live/jenkins.example.com/privkey.pem;
  #ssl_certificate {{keycloak_certificate_chain}};
  #ssl_certificate_key {{keycloak_certificate_private_key}};
  #ssl_session_timeout  5m;
  #ssl_protocols  SSLv3 TLSv1;
  #ssl_ciphers HIGH:!ADH:!MD5;
  #ssl_prefer_server_ciphers on;

  location / {
     
        proxy_pass  http://keycloak;
        proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
        proxy_redirect off;

        proxy_set_header    Host            $host;
        proxy_set_header    X-Real-IP       $remote_addr;
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Proto https;
    }
   
  }
}

